<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Web Development Technologies</title>
    <style>
        #New {
            color:green;
        }
       
        h2 {
            color: red;
        }
        li {
            color: orange;
        }
        .blue {
            color: blue;
        }
        #magenta {
            color: magenta;
        }
        .brown {
            color: brown;
        }
    </style>
    </head>
    <body>
        <H1 id ="New">Web Development Technologies</H1>
        <h2>Client Side UI Development</h2>
        <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Java Script</li>
        <li>React</li>
        <li>Angular</li>
        <li>Bootstrap</li>
        </ul>
        <H2>Server Side Development</H2>
        <ul>
        <li>Django</li>
        <li>NodeJs</li>
        <li>Asp.net</li>
        <li>PHP</li>
        <li>Java Spring Framework</li>
        </ul>
        <H2>Database</H2>
        <ul>
        <li class="blue">SQLite</li>
        <li class="blue">MySQL</li>
        <li class="blue">Oracle</li>
        <li class="blue">SQL Server</li>
        <li class="blue">MongoDB</li>
        </ul>
        <H2>IDE/Editor</H2>
        <ul>
        <li id="magenta">Visual Studio Code</li>
        <li>Eclipse</li>
        <li>IntelliJ IDEA</li>
        <li>Eclipse Theia</li>
        </ul>
        <p class="brown">Designed by: K.Shalini</p>
       
    </body>
</html>
          


       
  